$colorText: #fff;
$colorPlaceholder: #808080;
$colorLink: #42b883;
$colorLinkHighlight: #42d392;
$colorBackground: #1a1a1a;
$colorFieldBackground: #fff;
$colorFieldText: #1a1a1a;
$colorFieldBorder: #000;
$colorOverley: rgba(255, 255, 255, .2);
$colorDivider: #5454547a;
$colorBorder: #fff;
$colorActive: #42b883;
$colorActiveHighlight: #42d392;
$colorDanger: #dc3545;
$colorDangerActive: #fc0c24;
