$colorText: #CBCFD2;
$colorPlaceholder: #808080;
$colorLink: #42b883;
$colorLinkHighlight: #42d392;
$colorBackground: #14161A;
$colorBackgroundUpper: #1F2024;
$colorFieldBackground: #1F2024;
$colorFieldText: #8E979F;
$colorFieldBorder: #505155;
$colorOverlay: rgba(255, 255, 255, .2);
$colorDivider: #5454547a;
$colorBorder: #fff;
$colorActive: #42b883;
$colorActiveHighlight: #42d392;
$colorDanger: #dc3545;
$colorDangerActive: #fc0c24;
